<!doctype html>
<html lang="en" ng-app="calCounterApp">
    <head>
        <meta charset="utf-8">
        <title>Calorie Counter</title>
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/angular/angular-local-storage.min.js"></script>
        <script src="js/controllers.js"></script>
    </head>
    <body ng-controller="calCounterCtrl">
     
        <h2>Day</h2>
        <ul class="foodlist">
            <li>
                <span class="label">Name</span><span class="cal">Calories</span><span class="tools"></span>
            </li>
            <li ng-repeat="food in eaten">
                <span class="label">{{food.name}}</span><span class="cal">{{food.cal}}</span><span class="tools"><span ng-click="editFood(food)">edit</span><span ng-click="removeFood(food)">delete</span></span>
            </li>
        </ul>
        <p>Day's Total: {{total()}}</p>

        <div id="newfood">
            <form ng-submit="addFood()">
                Food: <input type="text" id="foodname" ng-model="foodname" size="30"
placeholder="add new food name"/>
                <br/>
                Calories: <input type="text" id="foodcal"  ng-model="foodcal" size="3"
placeholder="calories"/>
                <br/>
                Amount: <input type="text" id="foodamt" ng-model="foodamt" size="3"/>
                <select ng-model="foodunit" id="foodunit">
                    <option value="-">-</option>                    
                    <option value="g">g</option>
                    <option value="ml">ml</option>
                </select>
                <input type="submit" value="add"/>
            </form>
        </div>

        <p>{{seelocalstorage()}}</p>
    </body>
</html>